.global{
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
    flex-direction: column;
    
}

.bodyTop{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.TopLeft{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.TopMiddle{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.TopRight{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .tab.selected {
    background-color: #ffffff;
    border-bottom: 2px solid #333;
  }

  .function-description-container {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    color: #333;
  }